<phpunit>
	<testsuites>
		<testsuite name="Bark Parkz">
			<!-- <file>ProfileTest.php</file> -->
			<!-- <file>FavoriteTest.php</file> -->
		<file>CheckinTest.php</file>
		<!--	<file>ParkTest.php</file> -->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>