body {
	font-family: 'Open Sans Condensed', sans-serif;
}


.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/** BUTTON **/
.btn-up {
	border-top-color: #327828;
	background: #327828;
	color: #000000;
}

.btn-in {
	border-top-color: #000000;
	background: #000000;
}

.btn {
	border-top: 1px solid #1fcf33;
	background: #32b564;
	background: -webkit-gradient(linear, left top, left bottom, from(#076619), to(#32b564));
	background: -webkit-linear-gradient(top, #076619, #32b564);
	background: -moz-linear-gradient(top, #076619, #32b564);
	background: -ms-linear-gradient(top, #076619, #32b564);
	background: -o-linear-gradient(top, #076619, #32b564);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}

