body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: transparent;
}


.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/** BUTTON **/
.sign-up {
	border-top-color: #327828;
	background: #327828;
	color: #000000;
}

.sign-up #move {
	float:right;
	display:block;
	margin-right:0px;
	clear:left;
}

.sign-in {
	border-top-color: #000000;
	background: #000000;
}

.btn {
	border-top: 1px solid #1fcf33;
	background: #32b564;
	background: -webkit-gradient(linear, left top, left bottom, from(#076619), to(#32b564));
	background: -webkit-linear-gradient(top, #076619, #32b564);
	background: -moz-linear-gradient(top, #076619, #32b564);
	background: -ms-linear-gradient(top, #076619, #32b564);
	background: -o-linear-gradient(top, #076619, #32b564);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	vertical-align: middle;
}

{ box-sizing: border-box; }
.video-background {
	background: #000;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -99;
}
.video-foreground,
.video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
	.video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
	.video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
	.vid-info { width: 50%; padding: .5rem; }
	.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
	.vid-info .acronym { display: none; }
}


/** NAV **/


/** FOOTER **/

.navbar .navbar-fixed-bottom {
	color: white;
	background-color: darkgreen;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.col-xs-12 {
	background-color: transparent;
}